tox==2.5.0
pytest==3.0.4
pytest-django==3.0.0
pytest-cov==2.4.0

flake8==2.2.2

# wheel for PyPI installs
wheel==0.24.0

# MkDocs for documentation previews/deploys
mkdocs==0.11.1

future>=0.16.0
mock

-e git+https://github.com/pellaeon/djangodav#egg=djangodav
